.questions {
    width: 80%;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    transition: transform 0.2s ease;
    cursor: pointer;
    padding: 8px;
}

.questions h3 {
    background: transparent;
}

.answer-box {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    padding-left: 10px;
    background-color: white;
}

.answer-box p {
    background-color: white;
}

.answer-box.active {
    max-height: 500px; /* cukup tinggi untuk teks */
    opacity: 1;
    margin-top: 10px;
}

@media only screen and (max-width : 768px) {
    .questions h3 {
        font-size: 15px;
    }

    .questions .answer-box p {
        font-size: 15px;
    }
}

@media only screen and (max-width : 480px) {
    .questions {
        padding: 8px;
    }
    .questions h3 {
        font-size: 11px;
    }

    .questions .answer-box p {
        font-size: 11px;
    }
}









