.navbar {
    padding: 10px 100px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.nav-links {
    background-color: white;
}

.nav-links  .nav-item{
    margin-right: 25px;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.nav-links .nav-item:hover {
    background-color: #8DD8FF;
    border-radius: 5px;
    color: white;
}

.nav-brand {
    background-color: white;
}

.nav-brand h2 {
    font-weight: 100;
    font-size: 24px;
    background-color: white;
}
