.about-us-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-us-content {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    height: auto;
}

.about-us-content .about-us-description {
    width: 40%;
    background-color: transparent;
}

.about-us-content .about-us-description h1 {
    background-color: transparent;
}

.about-us-content .about-us-description p{
    background-color: transparent;
    text-align: justify;
}

.about-us-content .about-us-img {
    height: 350px;
    width: 40%;
}

.about-us-content .about-us-img img {
    height: 100%;
    width: 100%;
}

.about-us-content:nth-child(even) {
    flex-direction: row-reverse;
    background-color: white;
}

